1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6
Sol.1:Here * is Expression
           'hello'is Value
           -87.8 is value
           - is expression
           / is expression
           + is expression
           6 is value

2. What is the difference between string and variable?
Sol.2:A Variable stores information, and a String is the type of information we would store in a Variable.For instance,if we write a="Beautiful",then the value of variable a becomes "Beautiful",Here "Beautiful" is the information stored in the variable which is known as a string.

3. Describe three different data types.
sol.3:Three diffrent data types are:
1.Strings for eg."Hello!", "23.34"	
if we write anything between " " it becomes a string.
2.Floats for eg. 3.1415	or we can say Decimal Numbers are known as float data type.
3.Tuples for eg. (1,2,3,4,5).A collection of data,
sits between ( ) is Tuple data type.

4. What is an expression made up of? What do all expressions do?
Sol.4:An expression is a combination of values, variables, operators, and calls to functions.Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.
for instance you can see the cell below.

In [5]:
"Hello"+"Dolly"

'HelloDolly'

In [6]:

"43"+"Trucks"

'43Trucks'

In [7]:

67*98.8

6619.599999999999

In [8]:
len("River")

5

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
sol.5:A statement as:
spam=10 
has only assigned a value equal to 10 to the variable spam,it will not lead to any result or output on running it whereas an expression gives a result after evaluation of the variables and operators it comprises of.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Sol.6: As variable bacon has been assigned a value of 22,it will stay equal to 22 but
if we write bacon+1 it would give result 23 as you can run the cell below as this + operator would increase its value by 1.

In [12]:
bacon=22
bacon+1

23

7. What should the values of the following two terms be
"spam"+"spamspam"
"spam" * 3
Sol.7:A string can be added to a str so it would result in "spamspamspam"
 In other statement "spam" will be tripled would result in "spamspamspam"

8. Why is eggs a valid variable name while 100 is invalid?
Sol.8:There is a set of rules which are to be kept in mind while picking variable names
one of those rules is that it cannot be a number only like 100 as if we have to asssign a variable name 100 a value it cannot be equal to 56,it would say syntax error as cannot assign a literal.But a variable can be asia4 we can use such alphabet and number combinations as below:

In [21]:
asia4=67
asia4

67

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
sol.9:int(),float(),str()
if we have a=67.8
we can get integer value of a as below:

In [22]:
a=67.8
int(a)

67

In [23]:
float(a)#floating point number

67.8

In [24]:
str(a)#string version of a value

'67.8'

10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos.'
Sol.10:Only strings can be concatenated to strings,here 99 is an integer so it must be converted to a string first as below:

In [34]:
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'